<!DOCTYPE html>
<html ng-app="Arduinode">
	<head>
		<title>Arduino Node</title>
		<!--Previene request de favicon-->
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
		<script src="js/jsmin.js"></script>
		<link rel="stylesheet" href="css/cssmin.css" media="all">
	</head>
	<body ng-controller="MainCtrl">
		<div id="all" ng-class="{hide:showmenu,slide:!showmenu}">
			<div id="header">
				<a id="back" ng-show="previousState" ng-click="goBack()"></a>
				<a ui-sref="home" id="home"></a>
				<h1>{{currentMenu}}</h1>
			</div>

			<div id="wrapper"></div>
		</div>
		<div id="content" ui-view></div>
		<div ng-if="loading" id="loadingDiv"></div>
	</body>
</html>