.ngdialog,.ngdialog-overlay{position:fixed;top:0;right:0;bottom:0;left:0}@-webkit-keyframes ngdialog-fadeout{0%{opacity:1}100%{opacity:0}}@keyframes ngdialog-fadeout{0%{opacity:1}100%{opacity:0}}@-webkit-keyframes ngdialog-fadein{0%{opacity:0}100%{opacity:1}}@keyframes ngdialog-fadein{0%{opacity:0}100%{opacity:1}}.ngdialog{box-sizing:border-box;overflow:auto;-webkit-overflow-scrolling:touch;z-index:10000}.ngdialog *,.ngdialog :after,.ngdialog :before{box-sizing:inherit}.ngdialog.ngdialog-disabled-animation,.ngdialog.ngdialog-disabled-animation .ngdialog-content,.ngdialog.ngdialog-disabled-animation .ngdialog-overlay{-webkit-animation:none!important;animation:none!important}.ngdialog-overlay{background:rgba(0,0,0,.4);-webkit-backface-visibility:hidden;-webkit-animation:ngdialog-fadein .5s;animation:ngdialog-fadein .5s}.ngdialog-no-overlay{pointer-events:none}.ngdialog.ngdialog-closing .ngdialog-overlay{-webkit-backface-visibility:hidden;-webkit-animation:ngdialog-fadeout .5s;animation:ngdialog-fadeout .5s}.ngdialog-content{background:#fff;-webkit-backface-visibility:hidden;-webkit-animation:ngdialog-fadein .5s;animation:ngdialog-fadein .5s;pointer-events:all}.ngdialog.ngdialog-closing .ngdialog-content{-webkit-backface-visibility:hidden;-webkit-animation:ngdialog-fadeout .5s;animation:ngdialog-fadeout .5s}.ngdialog-close:before{font-family:Helvetica,Arial,sans-serif;content:'\00D7';cursor:pointer}body.ngdialog-open,html.ngdialog-open{overflow:hidden}
@-webkit-keyframes ngdialog-flyin{0%{opacity:0;-webkit-transform:translateY(-40px);transform:translateY(-40px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes ngdialog-flyin{0%{opacity:0;-webkit-transform:translateY(-40px);transform:translateY(-40px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes ngdialog-flyout{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-40px);transform:translateY(-40px)}}@keyframes ngdialog-flyout{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-40px);transform:translateY(-40px)}}.ngdialog.ngdialog-theme-default{padding-bottom:160px;padding-top:160px}.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content{-webkit-animation:ngdialog-flyout .5s;animation:ngdialog-flyout .5s}.ngdialog.ngdialog-theme-default .ngdialog-content{-webkit-animation:ngdialog-flyin .5s;animation:ngdialog-flyin .5s;background:#f0f0f0;border-radius:5px;color:#444;font-family:Helvetica,sans-serif;font-size:1.1em;line-height:1.5em;margin:0 auto;max-width:100%;padding:1em;position:relative;width:450px}.ngdialog.ngdialog-theme-default .ngdialog-close{border-radius:5px;cursor:pointer;position:absolute;right:0;top:0}.ngdialog.ngdialog-theme-default .ngdialog-close:before{background:0 0;border-radius:3px;color:#bbb;content:'\00D7';font-size:26px;font-weight:400;height:30px;line-height:26px;position:absolute;right:3px;text-align:center;top:3px;width:30px}.ngdialog.ngdialog-theme-default .ngdialog-close:active:before,.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before{color:#777}.ngdialog.ngdialog-theme-default .ngdialog-message{margin-bottom:.5em}.ngdialog.ngdialog-theme-default .ngdialog-input{margin-bottom:1em}.ngdialog.ngdialog-theme-default .ngdialog-input input[type=text],.ngdialog.ngdialog-theme-default .ngdialog-input input[type=password],.ngdialog.ngdialog-theme-default .ngdialog-input input[type=email],.ngdialog.ngdialog-theme-default .ngdialog-input input[type=url],.ngdialog.ngdialog-theme-default .ngdialog-input textarea{background:#fff;border:0;border-radius:3px;font-family:inherit;font-size:inherit;font-weight:inherit;margin:0 0 .25em;min-height:2.5em;padding:.25em .67em;width:100%}.ngdialog.ngdialog-theme-default .ngdialog-input input[type=text]:focus,.ngdialog.ngdialog-theme-default .ngdialog-input input[type=password]:focus,.ngdialog.ngdialog-theme-default .ngdialog-input input[type=email]:focus,.ngdialog.ngdialog-theme-default .ngdialog-input input[type=url]:focus,.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus{box-shadow:inset 0 0 0 2px #8dbdf1;outline:0}.ngdialog.ngdialog-theme-default .ngdialog-buttons:after{content:'';display:table;clear:both}.ngdialog.ngdialog-theme-default .ngdialog-button{border:0;border-radius:3px;cursor:pointer;float:right;font-family:inherit;font-size:.8em;letter-spacing:.1em;line-height:1em;margin:0 0 0 .5em;padding:.75em 2em;text-transform:uppercase}.ngdialog.ngdialog-theme-default .ngdialog-button:focus{-webkit-animation:ngdialog-pulse 1.1s infinite;animation:ngdialog-pulse 1.1s infinite;outline:0}@media (max-width:568px){.ngdialog.ngdialog-theme-default .ngdialog-button:focus{-webkit-animation:none;animation:none}}.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary{background:#3288e6;color:#fff}.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary{background:#e0e0e0;color:#777}
.ngdialog.ngdialog-theme-plain{padding-bottom:160px;padding-top:160px}.ngdialog.ngdialog-theme-plain .ngdialog-content{background:#fff;color:#444;font-family:'Helvetica Neue',sans-serif;font-size:1.1em;line-height:1.5em;margin:0 auto;max-width:100%;padding:1em;position:relative;width:450px}.ngdialog.ngdialog-theme-plain .ngdialog-content h1,.ngdialog.ngdialog-theme-plain .ngdialog-content h2,.ngdialog.ngdialog-theme-plain .ngdialog-content h3,.ngdialog.ngdialog-theme-plain .ngdialog-content h4,.ngdialog.ngdialog-theme-plain .ngdialog-content h5,.ngdialog.ngdialog-theme-plain .ngdialog-content h6,.ngdialog.ngdialog-theme-plain .ngdialog-content li,.ngdialog.ngdialog-theme-plain .ngdialog-content p,.ngdialog.ngdialog-theme-plain .ngdialog-content ul{color:inherit}.ngdialog.ngdialog-theme-plain .ngdialog-close{cursor:pointer;position:absolute;right:0;top:0}.ngdialog.ngdialog-theme-plain .ngdialog-close:before{background:0 0;color:#bbb;content:"\00D7";font-size:26px;font-weight:400;height:30px;line-height:26px;position:absolute;right:3px;text-align:center;top:3px;width:30px}.ngdialog.ngdialog-theme-plain .ngdialog-close:active:before,.ngdialog.ngdialog-theme-plain .ngdialog-close:hover:before{color:#777}.ngdialog.ngdialog-theme-plain .ngdialog-message{margin-bottom:.5em}.ngdialog.ngdialog-theme-plain .ngdialog-input{margin-bottom:1em}.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=text],.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=password],.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=email],.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=url],.ngdialog.ngdialog-theme-plain .ngdialog-input textarea{background:#f0f0f0;border:0;font-family:inherit;font-size:inherit;font-weight:inherit;margin:0 0 .25em;min-height:2.5em;padding:.25em .67em;width:100%}.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=text]:focus,.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=password]:focus,.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=email]:focus,.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=url]:focus,.ngdialog.ngdialog-theme-plain .ngdialog-input textarea:focus{box-shadow:inset 0 0 0 2px rgba(0,0,0,.2);outline:0}.ngdialog.ngdialog-theme-plain .ngdialog-buttons:after{clear:both;content:'';display:table}.ngdialog.ngdialog-theme-plain .ngdialog-button{border:0;cursor:pointer;float:right;font-family:inherit;font-size:.8em;letter-spacing:.1em;line-height:1em;margin:0 0 0 .5em;padding:.75em 2em;text-transform:uppercase}.ngdialog.ngdialog-theme-plain .ngdialog-button:focus{-webkit-animation:ngdialog-pulse 1.1s infinite;animation:ngdialog-pulse 1.1s infinite;outline:0}@media (max-width:568px){.ngdialog.ngdialog-theme-plain .ngdialog-button:focus{-webkit-animation:none;animation:none}}.ngdialog.ngdialog-theme-plain .ngdialog-button.ngdialog-button-primary{background:#3288e6;color:#fff}.ngdialog.ngdialog-theme-plain .ngdialog-button.ngdialog-button-secondary{background:#e0e0e0;color:#777}
/*!
 * ClockPicker v0.0.7 for Bootstrap (http://weareoutman.github.io/clockpicker/)
 * Copyright 2014 Wang Shenwei.
 * Licensed under MIT (https://github.com/weareoutman/clockpicker/blob/master/LICENSE)
 */.clockpicker .input-group-addon{cursor:pointer}.clockpicker-moving{cursor:move}.clockpicker-align-left.popover>.arrow{left:25px}.clockpicker-align-top.popover>.arrow{top:17px}.clockpicker-align-right.popover>.arrow{left:auto;right:25px}.clockpicker-align-bottom.popover>.arrow{top:auto;bottom:6px}.clockpicker-popover .popover-title{background-color:#fff;color:#999;font-size:24px;font-weight:700;line-height:30px;text-align:center}.clockpicker-popover .popover-title span{cursor:pointer}.clockpicker-popover .popover-content{background-color:#f8f8f8;padding:12px}.popover-content:last-child{border-bottom-left-radius:5px;border-bottom-right-radius:5px}.clockpicker-plate{background-color:#fff;border:1px solid #ccc;border-radius:50%;width:200px;height:200px;overflow:visible;position:relative;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.clockpicker-canvas,.clockpicker-dial{width:200px;height:200px;position:absolute;left:-1px;top:-1px}.clockpicker-minutes{visibility:hidden}.clockpicker-tick{border-radius:50%;color:#666;line-height:26px;text-align:center;width:26px;height:26px;position:absolute;cursor:pointer}.clockpicker-tick.active,.clockpicker-tick:hover{background-color:#c0e5f7;background-color:rgba(0,149,221,.25)}.clockpicker-button{background-image:none;background-color:#fff;border-width:1px 0 0;border-top-left-radius:0;border-top-right-radius:0;margin:0;padding:10px 0}.clockpicker-button:hover{background-image:none;background-color:#ebebeb}.clockpicker-button:focus{outline:0!important}.clockpicker-dial{-webkit-transition:-webkit-transform 350ms,opacity 350ms;-moz-transition:-moz-transform 350ms,opacity 350ms;-ms-transition:-ms-transform 350ms,opacity 350ms;-o-transition:-o-transform 350ms,opacity 350ms;transition:transform 350ms,opacity 350ms}.clockpicker-dial-out{opacity:0}.clockpicker-hours.clockpicker-dial-out{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);transform:scale(1.2,1.2)}.clockpicker-minutes.clockpicker-dial-out{-webkit-transform:scale(.8,.8);-moz-transform:scale(.8,.8);-ms-transform:scale(.8,.8);-o-transform:scale(.8,.8);transform:scale(.8,.8)}.clockpicker-canvas{-webkit-transition:opacity 175ms;-moz-transition:opacity 175ms;-ms-transition:opacity 175ms;-o-transition:opacity 175ms;transition:opacity 175ms}.clockpicker-canvas-out{opacity:.25}.clockpicker-canvas-bearing,.clockpicker-canvas-fg{stroke:none;fill:#0095dd}.clockpicker-canvas-bg{stroke:none;fill:#c0e5f7}.clockpicker-canvas-bg-trans{fill:rgba(0,149,221,.25)}.clockpicker-canvas line{stroke:#0095dd;stroke-width:1;stroke-linecap:round}.clockpicker-button.am-button{margin:1px;padding:5px;border:1px solid rgba(0,0,0,.2);border-radius:4px}.clockpicker-button.pm-button{margin:1px 1px 1px 136px;padding:5px;border:1px solid rgba(0,0,0,.2);border-radius:4px}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
menu,
nav,
time,
mark{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    cursor: pointer;
}
div.left {
    float: left;
    width: 100%;
    text-align: left;
}
html {
    height: 100%;
}
body {
    line-height: 1;
    font-family: Arial;
    overflow-x: hidden;
    padding: 0 !important;
	font-size:18px;
}
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
/*FIN RESET*/
#content {
    padding: 19px 10px;
}
th,
td {
    padding: 4px;
    text-align: left;
    border: 1px solid black;
}
label {
    padding: 10px 0;
}
input[type="text"],
textarea,
select {
    margin-top: 5px;
    border-radius: 2px;
    padding: 3px;
}
.simple-form {} .simple-form .ng-invalid {
    border: 1px solid red;
}
.simple-form label {
    display: block;
}
.simple-form input,
textarea {} .page ul {
    margin: 0 auto;
}
.page ul li {
    list-style: none
}
.page ul:first-child li a {
    background: #039e74;
    color: #fff;
    padding: 15px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: block;
    border: 1px solid #fff;
    text-align: center;
}
/*GENERAL*/

ul.actions li {
    float: left;
    margin-right: 10px;
}
ul.actionsPopup {
    float: left;
    bottom: 10px;
    right: 10px;
}
.ngdialog ul
{
    float:none;
}
/*CasaCtrl HOME*/

button,
.button {
    font-size: 1em;
    background: #333;
    color: #fff;
    display: block;
    border-radius: 5px;
    font-weight: bold;
    padding: 13px;
}
#actionsPage {
    text-align: right;
    margin-top: 10px;
}
.inlineButtons {
    width: 100%;
    overflow: hidden;
}
.inlineButtons li {
    float: left;
    text-align: right;
    margin-right: 10px;
}
#actions button,
ul.inlineButtons .button {
    display: inline-block;
}
#img_div {
    text-align: center;
}
/*CasaCtrl HOME*/

/*DISPOSITIVOS*/
.ngdialog-buttons a.button
{
    width:40%;
    float:left;
    margin-right:10px;
}
#content table td
{
    width:120%;

}
/*SPRITE ICONS*/
.sprite {
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite.back {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
	position: absolute;
    top: 10px;
    left: 10px;
}

.sprite.home {
    width: 29px;
    height: 28px;
    background-position: -45px -5px;
}

.sprite.duplicate {
    width: 30px;
    height: 32px;
    background-position: -45px -43px;
	position: absolute;
    right: 5px;
    top: 9px;
}

.sprite.clockpicker {
    width: 12px;
    height: 12px;
     background-position: -4px -39px;
}

.sprite.refresh {
    width: 30px;
    height: 30px;
    background-position: -106px -5px;
}


/* ABM Dispositivos */
/* ABM Dispositivos */
/*Estados salidas*/
input.clockpicker.estados
{

	border: 0;
    margin: 0 auto;
    text-align: center;

	width: 29px;

	position: fixed;
    border: 1px solid;
    /* border-radius: 100%; */
    background-color: #fff;
    z-index: 10000;
    height: 28px;
}
ul#estados {
    margin-top: 41px;
    text-align: left;
}
a.sprite.back
a.sprite.home,
a.sprite.refresh {}
    position: absolute;
    top: 11px;
    left:0;
}
a.back {left:10px;}
a.home
{
	position:absolute;
    right:10px;
    top:10px;
}
.refresh {
    left: 27%;
    position: fixed;
    display: block;
    top: 0;
    height: 50px;
    background: none;
    z-index: 99999;
    width: 50%;
}
.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15); */
}
.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input.prendida ~ .switch-label {
    background: #E1B42B;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2); */
}
.temporizada:after
{
    font-size:16px !important;
}
.switch-input.prendida ~ .switch-label:before {
    opacity: 0;
}
.switch-input.prendida ~ .switch-label:after {
    opacity: 1;
}
.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
}
.switch-input.prendida ~ .switch-handle {
    left: 74px;
}

#estados > li {
    position: relative;
    height: 4em;
}
#estados > li h4
{
    width:50%;
}
#estados > li .switch {
    position: absolute;
    right: 0;
    top: 0;
}
/*Estados salidas*/
#header {
    background-color: #03ae74;
    width: 100%;
    height: 50px;
	text-align:center;
}
#header h1 {
    display: block;
    color: #fff;
    font-size: 1.2em;
    padding-top:6px;
}
/* MENU APLICACION*/

/*Boton switch window*/

.containerSwitchWindow {
    background: #eceeef;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10%;
    padding: 0px 8px -1px 0px;
}
.containerSwitchWindow ul,
.containerSwitchWindow li {
    margin: 13px 3px;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.containerSwitchWindow li.moveDown,
.containerSwitchWindow li.stopIcon,
.containerSwitchWindow li.moveUp {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: #E1B42B;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid #aaaaaa;
    text-align: center;
    line-height: 23px;
}

.stopIcon:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 12px;
    width: 12px;
    border-radius: 0;
}
.moveUp:before {
    transform: rotate(180deg);
}
.containerSwitchWindow .active {
    background: green !important;
}
#viewSalida .switch,
.persianaView .containerSwitchWindow {
    float: right;
    margin-right: 30px;
}
.timeIcon {
    z-index: 1;
    overflow: hidden;
    list-style: none;
    padding: 0;
    position: absolute;
    margin: 0 0 0.25em;
    right: 5px;
    top: -6px;
}
.timeIcon a {
    display: block;
    color: transparent;
    width: 24px;
    height: 24px;
}
.timeIcon:before,
.timeIcon:after,
.timeIcon a:before,
.timeIcon a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
}
.timeIcon a:before,
.timeIcon a:after {
    left: 1px;
    width: 18px;
    height: 18px;
    border: 2px solid #c55500;
    margin-top: -11px;
    background: transparent;
}
.timeIcon a:before {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 19px;
}
.timeIcon a:after {
    left: 10px;
    width: 7px;
    height: 8px;
    border-width: 0 0 2px 2px;
    margin-top: -7px;
    background: transparent;
}
.timeIcon a:hover:before,
.timeIcon a:focus:before,
.timeIcon a:active:before,
.timeIcon a:hover:after,
.timeIcon a:focus:after,
.timeIcon a:active:after {
    border-color: #730800;
    background: transparent;
}
/* Vista Estados, icono Programacion Salida */
/*TAREAS*/
div.activa > span
{
	display:inline-block;
}
div.activa label.switch
{
	margin-top: 7px;
	float:right;
}
div.fechaPicker
{
	margin: 22px 0 !important;
}
.fechaPicker select
{
    float:left;
    width:50%;
}
div.dispositivo > label
{
    /* float:left; */
    margin-right:8px;
    width: 100%;
    font-weight: bold;
    position:relative;
}
div.dispositivo label select
{
    width: 270px;
    display: block;
}
div.dispositivo label > a
{
    font-size: 2.6em;
    position: absolute;
    bottom: 0;
    font-weight:bold;
    right: 0;
    color: #03ae74;
}
.left label textarea
{
	width:95%;
	min-height:60px;
}
ul#tareas li {
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
}
ul#tareas li span {
	display:block;
	padding-top:10px;
	color:red;
}
form #duracion
{
    width: 100px !important;
}
#estados > li {
    position: relative;
    height: 4em;
    margin: 0;
    padding: 0;
    width: 100%;
}
#estados > li .switch {
    position: absolute;
    right: 0;
    top: -8px;
    margin-right: -10px;
}
#estados .switch.disabled
{
    display:none;
}
/*Estados salidas*/
/*Boton switch window*/

.containerSwitchWindow {
    background: #eceeef;
    position: absolute;
    right: 0;
    top: -25px;
    border-radius: 10%;
    padding: 0px 8px -1px 0px;
}
.containerSwitchWindow li.moveUp:before,
.containerSwitchWindow li.moveDown:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.7px 8px 0 8px;
    border-color: #fff transparent transparent transparent;
}
.stopIcon:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 12px;
    width: 12px;
    border-radius: 0;
    box-shadow: 0 0 0 0px gray, inset 3px 35px 0 27px white;
}
.moveUp:before {
    transform: rotate(180deg);
}
.containerSwitchWindow .active {
    background: green !important;
}
/*Boton switch window*/

#viewSalida .switch,
.persianaView .containerSwitchWindow {
    float: right;
    margin-right: 30px;
}

/*TAREAS*/
#tareaForm div
{
	margin: 0px 0 6px 0;
	font-weight: bold;
	position: relative;
	padding: 2px 0;
}
#tareaForm div.duracion
{
	margin-top: 25px;
}

#tareaForm div > span
{
	font-weight:bold;
	margin-top: 14px;
}
#tareaForm div.duracion span
{
	float:right;
	color:red;
}
#tareaForm ul.actionsPopup
{
	margin-top:20px;
}
ul#tareas li {
    border: 1px solid #ccc;
    padding: 16px 15px;
    position: relative;
}
ul#tareas li a.icon
{
	position:absolute;
	right: 4px;
	top: 4px;
}
ul#tareas li a span
{
    color:green;
    float:right;
    margin-right:30px;
}
span.activatrue
{
    color:red;
}
ul#tareas li .timeIcon
{
    top:6px;
}
div.dispositivosAdded h5
{
	font-weight:bold;
}
div.dispositivosAdded ul
{
    margin-left:10px;
}
div.dispositivosAdded ul li
{
    margin:10px 0;
    position: relative;
}
div.dispositivosAdded ul li a
{
    position: absolute;
    color:red;
    font-size: 1.6em;
    right: -4px;
    padding: 10px;
    top: -15px;
    font-weight:bold;
}
.popover {
    position: fixed !important;
    top: 26% !important;
    left: 50% !important;
    margin: auto;
    border: 30px solid #03ae74;
    margin-left: -144px;
    margin-top: -30px;
}
/*Dias ejecucion*/
.dias_ejecucion
{
	margin:0px 0 40px 0 !important;
}
.dias_ejecucion label {
    float: left;
    text-align: center;
    width: 14%;
}

/*LOADING GIF*/

#loadingDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity:0.3;
    z-index: 99999;
}
.cssload-container{
	position:relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 1748px;
		-o-border-radius: 1748px;
		-ms-border-radius: 1748px;
		-webkit-border-radius: 1748px;
		-moz-border-radius: 1748px;
}

.cssload-whirlpool {
	margin: -44px 0 0 -44px;
	height: 88px;
	width: 88px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -40px 0 0 -40px;
	height: 77px;
	width: 77px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -51px 0 0 -51px;
	height: 98px;
	width: 98px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}

#horaServidor {
	position:relative;
	text-align:center;
	margin:0 auto;
	font-size:20px;
	color:#fff;
}

@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}