<div>
	<form novalidate class="simple-form" name="plantaForm" ng-model="model">
		<input type="hidden" ng-model="model.id_planta" />
		<label>Plano:
		<input type="file" ngf-select ng-model="picFile" name="file"
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFiles">
      <i ng-show="plantaForm.file.$error.required">*required</i><br>
      <i ng-show="plantaForm.file.$error.maxSize">File too large
          {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="plantaForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
      <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <button ng-disabled="!plantaForm.$valid" ng-click="upload(picFile)">Subir imagen</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
      </span>
		</label>
		<label>Descripción:
			<br>
			<textarea ng-model="model.descripcion" required />
		</label>
		<ul class="actions">
			<li>
				<input class="button" ng-show="model.id_planta" type="button" ng-click="delete(model.id_disp)" value="Eliminar" />
			</li>
			<li>
				<input class="button" type="submit" ng-click="save(model)" value="Guardar" />
			</li>
		</ul>
	</form>
</div>