<div>
	<form novalidate class="simple-form" name="dispositivoForm" ng-model="model">
		<input type="hidden" ng-model="model.id_disp" />
		<label>IP:
			<br>
			<input type="text" required ng-model="model.ip" ng-pattern='/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/' placeholder='xxx.xxx.xxx.xxx'/>
		</label>
		<label>Descripción:
			<br>
			<textarea ng-model="model.note" required />
		</label>
		<ul class="actions">
			<li>
				<input class="button" ng-show="model.id_disp" type="button" ng-click="delete(model.id_disp)" value="Eliminar" />
			</li>
			<li>
				<input class="button" type="submit" ng-click="save(model)" value="Guardar" />
			</li>
		</ul>
	</form>
</div>