<div>
	<form validate class="simple-form" name="tareaForm" ng-model="tarea">
		<div class="left">
			<div class="dispositivosAdded">
				<h5>Dispositivos vinculados</h5>
				<br>
				<ul class="dispositivosAdded">
					<li ng-repeat="d in tarea.dispositivos">
						{{d.note}} - {{d.salidaNote}}
						<a ng-click="removeDispositivo(d)">X</a>
					</li>
				</ul>
			</div>
			 <div class="dispositivo">
				<label>Dispositivo<br>
				<select required id="dispositivo_slt"
				ng-options="disp as disp.note for disp in dispositivos"
				ng-change="changeDispositivo()"
				required
				ng-model="dispositivoSelected" name="dispositivo_id">
				</select>
				</label>
				<div>
					<label>Salidas<br>
					<select ng-options="salida.nro_salida as salida.note for salida in salidas"
					required
					ng-model="tarea.nro_salida"></select>
					</label>
				</div>
				<a ng-click="addDispositivo()">+</a>
			</div>

			<div>
				<label>Descripción de la Tarea<br>
					<textarea required ng-model="tarea.descripcion"></textarea>
				</label>
			</div>
			<label>Activa<br>
				<input type="checkbox" ng-checked="tarea.activa == 1" ng-model="tarea.activa" />
			</label>
		</div>
		<div class="left">
			<div class="tarea">
				<label class="fechaPicker">Fecha inicio
					<label>
						<select id="dia_inicio">
							<option ng-selected="{{dia == tarea.dia_inicio}}"
									ng-repeat="dia in dias"
									value="{{dia}}">
									{{dia}}
							</option>
						</select>
						<select id="mes_inicio">
							<option  ng-selected="{{mes == tarea.mes_inicio}}"
									ng-repeat="mes in meses"
									value="{{mes}}">
									{{mesesTxt[mes]}}
							</option>
						</select>
					</label>
				</label>
				<br>
				<label>Hora inicio<br>
					<input type="text" class="clockpicker" id="horainicio" readonly value="{{hora_inicio}}" readonly />
				</label>
				<div class="dias_ejecucion">
					<label ng-repeat="(key, value) in diasSemana">{{value | limitTo:1}}<br>
					<input
						type="checkbox"
						value="{{key}}"
						required
						ng-checked="tarea.dias_ejecucion.indexOf(key) > -1"
						ng-click="checkear_dia(key)">
					</label>
				</div>
				<label class="switch">
					<input class="switch-input" type="checkbox"
					/>
					<span class="switch-label" ng-checked="true" data-off="Apagada">
					</span>
					<span class="switch-handle"></span>
				</label>
				<label class="fechaPicker">Fecha fin
					<label>
						<select ng-model="tarea.dia_fin">
							<option ng-selected="{{dia == tarea.dia_fin}}"
									ng-repeat="dia in dias"
									value="{{dia}}">
									{{dia}}
							</option>
						</select>
						<select ng-model="tarea.mes_fin">
							<option ng-selected="{{mes == tarea.mes_fin}}"
									ng-repeat="mes in meses"
									value="{{mes}}">
									{{mesesTxt[mes]}}
							</option>
						</select>
					</label>
				</label>
				<br>
				<label>Duración<br>
					<input required type="text" class="clockpicker" id="duracion"
					readonly value="{{duracion}}" />
					<span>Finaliza: {{tarea.hora_fin | date: 'HH:mm'}}</span></label>
			</div>
		</div>
	    <ul class="inlineButtons actionsPopup">
			<li>
				<input class="button" type="submit" ng-click="save()" value="Guardar" />
			</li>
			<li>
				<input class="button" type="button" ng-click="deleteTarea()" value="Eliminar" />
			</li>
		</ul>
	    </div>
	</form>
</div>
