<div>
	<form novalidate class="simple-form" name="tareaForm" ng-model="tarea">
		<h3>{{(editing) ? "Modificar tarea" : "Nueva tarea" }}</h3>
		<div class="left">
			 <div>
				<label>Dispositivo<br>
				<select required id="dispositivo_slt"
				ng-options="disp as disp.note for disp in dispositivos"
				ng-change="changeDispositivo()"
				ng-model="dispositivoSelected" name="dispositivo_id">
				</select>
				</label>
			</div>

			<div>
				<label>Salidas<br>
				<select ng-options="salida.nro_salida as salida.note for salida in salidas"
				ng-model="tarea.nro_salida"></select>
				</label>
			</div>
			<div>
				<label>Descripción de la Tarea<br>
					<textarea ng-model="tarea.descripcion"></textarea>
				</label>
			</div>
			<label>Activa<br>
				<input type="checkbox" ng-checked="tarea.activa == 1" ng-model="tarea.activa" />
			</label>
		</div>
		<div class="left">
			<div class="tarea">
				<label>Fecha inicio<br>
					<datepicker date-format="yyyy-MM-dd">
						<input readonly type="text" ng-model="tarea.fecha_inicio" name="fechainicio" />
					</datepicker>
				</label>
				<label>Hora inicio<br>
					<input type="text" class="clockpicker" id="horainicio" readonly value="{{hora_inicio}}" readonly />
				</label>
				<div class="dias_ejecucion">
					<label ng-repeat="(key, value) in diasSemana">{{value | limitTo:1}}<br>
					<input
						type="checkbox"
						value="{{key}}"
						ng-checked="tarea.dias_ejecucion.indexOf(key) > -1"
						ng-click="checkear_dia(key)">
					</label>
				</div>
				<label>Fecha fin<br>
					<datepicker date-format="yyyy-MM-dd">
						<input readonly type="text" ng-model="tarea.fecha_fin" name="fechafin" />
					</datepicker>
				</label>
				<label>Duración<br>
					<input type="text" class="clockpicker" id="duracion"	readonly value="{{duracion}}" />
				</label>
			</div>
		</div>
	    <ul class="inlineButtons actionsPopup">
			<li>
				<input class="button" type="submit" ng-click="save()" value="Guardar" />
			</li>
			<li>
				<input class="button" type="button" ng-click="deleteTarea()" value="Eliminar" />
			</li>
		</ul>
	    </div>
	</form>
</div>
