<ul id="tareas">
	<li ng-repeat="t in tareas">
		<a ui-sref="editarTarea({ params: {{t}} })">{{t.descripcion}}
		<span ng-class="activa{{t.activa}}">{{(t.activa) ? "Activa" : "Inactiva"}}</span>
		<span ng-class="horafin" ng-show="{{t.accion == 0}}">
			Hora: {{t.hora_inicio | date:'HH:mm'}} - {{t.hora_fin | date:'HH:mm'}}</span>
		<span ng-class="horafin" ng-show="{{t.accion == 1}}">
			Hora: {{t.hora_inicio | date:'HH:mm'}}</span>
		</a>
		<a class="sprite duplicate" ng-click="duplicateTarea(t)"></a>
	</li>
</ul>
<ul class="inlineButtons" id="actionsPage">
	<li>
		<a ng-show="sinDispositivos" class="button" ui-sref="editarTarea()">Nueva</a>
	</li>
</ul>

<div ng-if="loading" id="loadingDiv"></div>