<div>
	<form novalidate class="simple-form" name="salidaForm" ng-model="salida">
		<input type="hidden" name="x" ng-model="ngDialogData.x" />
		<input type="hidden" name="y" ng-model="ngDialogData.y" />
		<h3>{{(editing) ? "Modificar salida" : "Nueva salida" }}</h3>
	    <label>Descripción<br>
	    	<textarea required ng-model="salida.note"></textarea>
	    </label>
	    <label>Dispositivo<br>
	    <select required id="dispositivo_slt"
	    ng-options="d.id_disp as d.note for d in dispositivos"
	    ng-model="salida.id_disp">
	    </select>
	    </label>
	    <ul class="inlineButtons">
			<li><input class="button" ng-disabled="!salida.nro"
			type="button" ng-click="delete(salida.nro)"
			value="Eliminar" />
			</li>
			<li>
			<input class="button" ng-disabled="!salidaForm.$valid"
			type="submit" ng-click="save(salidaForm)" value="Guardar" />
			</li>
	    </div>
	</form>
</div>